# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build and Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Maven
      run: mvn -B package --file pom.xml

  deploy:
    runs-on: ubuntu-latest

  steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: composer install -n --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: GCP Authenticate
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: "273.0.0"
        service_account_key: ${{ secrets.GCP_SA_KEY }}
    - name: Set GCP_PROJECT
      env:
        GCP_PROJECT: ${{ secrets.GCP_PROJECT }}
      run: gcloud --quiet config set project ${GCP_PROJECT}
    - name: Deploy to GAE
      run: gcloud app deploy app.yaml


